---
import Heading from "./Heading.astro";

// import logo from "../../public/hsr-logo.png";
import { Image } from "astro:assets";
import ButtonIcon from "./ButtonIcon.astro";
import { Icon } from "astro-icon/components";
import HillStoneLogo from "./HillStoneLogo.astro";

interface FooterContact {
  icon: string;
  link: string;
  text: string;
}

interface FooterSocial {
  icon: string;
  link: string;
  text: string;
}

interface Props {
  author: any;
  footnote: string;
  copyright: string;
  links: any;
  footerContact: FooterContact[];
  footerSocials: FooterSocial[];
}

const { author, footnote, copyright, links, footerContact, footerSocials } =
  Astro.props;
---

<footer
  class="footer sm:footer-horizontal border-t-4 bg-base-200 text-base-content p-10"
>
  <aside>
    <HillStoneLogo />
    <!-- <Image src={Logo} alt="hillstone-logo" class="mx-auto w-56 text-center" /> -->
    <!-- <svg
      width="100%"
      height="100%"
      viewBox="0 0 640 427"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve" 
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"
    >
      <g transform="matrix(1,0,0,1,-92,-47)">
        <path
          d="M412,185C423.109,198.954 436.174,209.431 452,215C449.91,225.062 445.758,232.178 440,237C426.417,223.651 417.198,206.21 412,185C400.505,197.006 387.64,207.186 373,215C373.406,224.779 377.306,231.937 384,237C397.625,221.544 406.76,204.124 412,185"
          style="fill:none;stroke:rgb(0,173,181);stroke-width:5px;"></path>
        <g transform="matrix(1,0,0,1,1,1)">
          <path
            d="M393,180L366,180"
            style="fill:none;stroke:rgb(0,173,181);stroke-width:5.83px;"></path>
        </g>
        <g transform="matrix(1,0,0,1,62,1)">
          <path
            d="M393,180L366,180"
            style="fill:none;stroke:rgb(0,173,181);stroke-width:5.83px;"></path>
        </g>
        <path
          d="M352,221L357,237C364.473,218.244 368.435,199.281 367,180C387.848,171.192 403.204,160.952 412,149C424.381,163.095 439.426,173.194 456,181C455.974,201.476 459.214,220.193 466,237L472,221"
          style="fill:none;stroke:rgb(0,173,181);stroke-width:5.83px;"></path>
        <path
          d="M342,237L482,237"
          style="fill:none;stroke:rgb(0,173,181);stroke-width:5.83px;"></path>
      </g>
      <g transform="matrix(1,0,0,1,-122.178,-68)">
        <g transform="matrix(68.4063,0,0,68.4063,721.815,350)"> </g>
        <text
          x="159px"
          y="350px"
          fill="currentColor"
          style="font-family:'LucidaSans-Demi', 'Lucida Sans', sans-serif;font-weight:600;font-size:68.406px;"
          >hill stone resort</text
        >
      </g>
    </svg> -->
  </aside>
  <nav>
    <Heading size="sm">Contact</Heading>
    {
      footerContact.map((item) => (
        <ButtonIcon link={item.link} icon={item.icon} text={item.text} />
      ))
    }
  </nav>
  <nav>
    <Heading size="sm">Links</Heading>
    <ul class="my-3 ml-1 list-none [&>li]:mt-1 space-y-3">
      {
        links.map((link: any) => (
          <li>
            <a href={link.link}>
              <button class="link link-hover px-0 font-sans text-lg">
                {link.text}
              </button>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>

<footer
  class="footer sm:footer-horizontal bg-base-300 border-t-1 text-base-content items-center p-4"
>
  <aside class="grid-flow-col items-center">
    <span class="flex items-center">
      {copyright}
      <Icon name="mdi:copyright" class="w-4 h-4 mx-2" />
      {new Date().getFullYear()}
    </span>
  </aside>
  <aside
    class="grid-flow-col md:place-self-center md:justify-self-center items-center"
  >
    <div class="hidden lg:block">
      <Heading size="md" class="text-center">The Hill Stone Resort</Heading>
    </div>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    {
      footerSocials.map((item) => (
        <a
          href={item.link}
          target="_blank"
          rel="noopener noreferrer"
          title={`Visit us on ${item.text}`}
        >
          <button class="group px-0">
            <Icon
              name={item.icon}
              class="w-6 h-6 text-neutral dark:text-neutral-content group-hover:opacity-50 transition delay-150 duration-300 ease-in-out"
            />
            <span class="sr-only">{item.text}</span>
          </button>
        </a>
      ))
    }
  </nav>
</footer>
