---
import { Image } from "astro:assets";
import Heading from "./Heading.astro";
import bgVideo from "../../hillstone-bg.mp4";

interface Hero {
  bgImage: {
    src: string;
    width: number;
    height: number;
    format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
  bgVideo?: string;
  title: string;
  subtitle: string;
  btnText: string;
  btnLink: string;
}

interface Props {
  hero: Hero;
}

const { hero } = Astro.props;
---

<section id="#">
  <div class="relative h-screen w-full overflow-hidden">
    <div class="absolute bg-black opacity-20 w-full h-full top-0 left-0 z-10">
    </div>
    <Image
      src={hero.bgImage}
      alt="Hill Stone Resort"
      class="absolute inset-0 w-full h-full object-cover"
      width={1920}
      height={1080}
      format="webp"
      loading="eager"
    />
    <media-video-controller class="absolute inset-0 w-full h-full">
      <video
        slot="media"
        src={bgVideo}
        autoplay
        loop
        muted
        class="absolute inset-0 w-full h-full object-cover"></video>
      <media-control-bar slot="controls">
        <media-play-button></media-play-button>
        <media-mute-button></media-mute-button>
      </media-control-bar>
    </media-video-controller>

    <div
      class="relative z-10 flex flex-col justify-center items-center h-full text-center text-white px-4"
    >
      <Heading class="mb-4 drop-shadow-lg tracking-wider" size="xxl">
        {hero.title}
      </Heading>
      <p class="text-xl md:text-xl mb-8 max-w-6xl drop-shadow-md leading-10">
        {hero.subtitle}
      </p>
      <a href={hero.btnLink} title={hero.btnText} aria-label={hero.btnText}>
        <button class="btn btn-outline btn-lg uppercase">{hero.btnText}</button>
        <span class="sr-only">{hero.btnText}</span>
      </a>
    </div>
  </div>
</section>
